body{
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient( rgba(240, 216, 250, 0.582),rgb(225, 217, 230));
}
.header-bg-color{
    background-color: #264653;
}
.i-style{
    color:#E77C40 ;
    margin: 8px;    
}
button{
    background-color: #E76F51;
    width: 150px;
    height: 50px;
    color: white;
    border-radius: 10px;
}
.grey-img{
    -webkit-filter: grayscale(100%);
}
span{
    color: #E76F51;
}
h1{
    font-weight: 600 ;
}
.vdo{
    width:400px; 
    height:400px;
}
.client-img{
    width: 150px;
    height: 150px;
}